# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/
ENV/
env/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# VS Code settings
.vscode/

# JetBrains IDE settings
.idea/

# MacOS
.DS_Store

# Linux
*.swp

# Test / coverage
htmlcov/
.coverage
.tox/
.nox/
pytest_cache/
.coverage.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
