.weather-screen-container {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  box-sizing: border-box;
}


.chart-wrapper {
  width: 900px;
  height: 600px;
  background-color: #171717;
  border: 1px solid #262626;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;



}

apx-chart {
  height: 100%;
  width: 100%;
}

.loading-state {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  color: #ffffff;
}
