.news-screen-container {
  height: 100%;
  width: 100%;

  display: flex;
  box-sizing: border-box;


}

.news-container {

  width: 100%;
  overflow-y: auto;

  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;

}

.news-card {
  width: 800px;
  padding: 20px;
  box-sizing: border-box;
  background-color: darkslategrey;
}



.page-tag {
  position: absolute;
  right: 50px;
  bottom: 50px;
  color: gray;
  opacity: 0.1;
  font-weight: bold;
  font-size: 70px;
}
