<div class="page-tag">
  NEWS
</div>

<div class="news-screen-container">
  <div class="news-container">

    @if (newsList$ | async; as allNews) {

      @for (news of allNews; track news.id) {
        <div class="news-card">

          <div class="news-header">
            <span class="site-badge">{{ news.newsSite }}</span>
            <span class="date">{{ news.publishedAt.toString() }}</span>
          </div>

          <h2 class="news-title">
            <div>{{ news.summary }}</div>
          </h2>

          <div class="author-list">
            <span class="by-text">By: </span>

            @for (auth of news.authors; track auth.id; let isLast = $last) {
              <span class="author-name">{{ auth.name }}</span>

              @if (auth.xLink) {
                <div>X</div>
              }

              @if (!isLast) { <span>, </span> }
            }
          </div>

        </div>
      } @empty {
        <div class="empty-state">No news found for this period.</div>
      }

    } @else {
      <div class="loader">Fetching latest updates...</div>
    }

  </div>

</div>
