@use "./mars-map.scss";

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.map-widget-wrapper {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  background-color: black;
  border-radius: 5px;
  overflow: hidden;

  position: relative;
}
