.mars-map-container {
  width: 900px;
  height: 700px;
  background-color: black;

  position: relative;
}

.rover-position-points {
  height: 100%;
  width: 100%;

  opacity: 0.8;
  position: absolute;
}

.mars-map {
  height: 100%;
  width: 100%;

  opacity: 0.8;
  position: absolute;

}
