.mars-map-container {
  width: 1200px;
  height: 700px;
  background-color: black;

  position: relative;
}

.rover-position-points {
  height: 100%;
  width: 100%;

  position: absolute;
}

.mars-map {
  height: 100%;
  width: 100%;

  position: absolute;
  ::ng-deep {
    canvas, .ol-layer {
      filter:
        sepia(1)
        hue-rotate(-45deg)
        saturate(2.5)
        brightness(0.8)
        contrast(1);

      transition: filter 0.5s ease-in-out;
    }

    .ol-control, .ol-attribution {
      filter: none !important;

      button {
        color: white;
        background-color: black;
        &:hover {
          background-color: lightblue;
          color: black;
        }
      }
    }
  }

}
