.mars-map {
  height: 100%;
  width: 100%;
  position: relative;

  ::ng-deep {
    .mars-map-tiles {
      filter:
        sepia(1)
        hue-rotate(-45deg)
        saturate(2.0)
        brightness(0.6)
        contrast(1.1);

      transition: filter 0.5s ease-in-out;
    }

    .ol-control, .ol-attribution {
      filter: none !important;

      button {
        border: none;
        box-shadow: none;
        margin-bottom: 4px;
        border-radius: 5px;
        color: white;

        background-color: black;
        &:hover {
          box-shadow: none;
          border: none;
          cursor: pointer;
          background-color: lightblue;
          color: black;

          transition: all ease-in-out 0.2s;
        }
      }
    }
  }

}

.map-bottom-part {
  width: 100%;
  height: 20px;

  background-color: black;

  position: absolute;
  z-index: 999999;
  bottom: 0px;
  overflow: hidden;
}

.bbox-details {
  height: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: 200px 200px 200px 200px;
}

.bbox-cell {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bbox-text {
  display: block;
  height: 20px;
  width: fit-content;
  font-size: 12px;
}
