.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;

  background-color: rgba(0, 0, 0, 0.5);

  pointer-events: auto;
  z-index: -1;
}

.rover-graphic {
  width: 300px;
  height: fit-content;
  // padding: 20px;
  // box-sizing: border-box;

  background-color: #242424;
  border-radius: 10px;




}

.rover-screen-container {
  z-index: 2;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 600px;

  align-items: center;
  justify-content: center;
  gap: 10px;

  box-sizing: border-box;
  position: relative;

}

.rov-screen-grid-col-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: #171717;
  border-radius: 20px;

  justify-content: center;
  padding: 20px;
  box-sizing: border-box;

}

.rov-screen-grid-col-2 {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #171717;
  border-radius: 20px;

  padding: 20px;
  box-sizing: border-box;
}

.page-tag {
  position: absolute;
  right: 50px;
  bottom: 50px;
  color: gray;
  opacity: 0.1;
  font-weight: bold;
  font-size: 70px;
}

.map-container {
  width: 100%;
  height: 100%;

  padding: 10px;
  box-sizing: border-box;

  border-radius: 10px;
  // background-color: #0f0f0f;
  background-color: black;

}

.curiosity-tag {
  width: 100%;
  font-size: 40px;
  color: lightgray;

}
